In [1]:
from projek_kasir_modul import Transaction

# Dokumentasi

# Main

In [2]:
transaksi = Transaction()
transaksi.menu()

| No.   | Nama Barang   | Jumlah Barang   | Harga Satuan   | Jumlah Harga   |
|-------|---------------|-----------------|----------------|----------------|

Total harga yang harus dibayar adalah Rp.0


Menu Utama
|   No. | Opsi               |
|-------|--------------------|
|     0 | Check Keranjang    |
|     1 | Tambah Item        |
|     2 | Update Nama Item   |
|     3 | Update Jumlah Item |
|     4 | Update Harga Item  |
|     5 | Hapus Item         |
|     6 | Bayar dan Checkout |
|     7 | Batal Belanja      |

Pilih opsi: 7
anda yakin ingin Batal Beli? (y=ya, t=tidak): y
keranjang telah dikosongkan

## add_items()

In [3]:
# inisialisasi transaksi dengan instance
transaksi_1 = Transaction()

# menambah item
transaksi_1.add_items(['kompor', 2, 100_000])
transaksi_1.add_items(['mie', 5, 3_000])
transaksi_1.add_items(['tempe', 3, 5_000])

# menampilkan pesanan
transaksi_1.check_order()

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_1.test_case_output(transaksi_1.keranjang)

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}

## update_item_name() | update_item_price() | update_item_qty()

In [4]:
# inisialisasi transaksi dengan instance baru
transaksi_2 = Transaction()

# menambah item
transaksi_2.add_items(['kompor', 2, 100_000])
transaksi_2.add_items(['mie', 5, 3_000])
transaksi_2.add_items(['tempe', 3, 5_000])

# mengubah nama item
transaksi_2.update_item_name(id_item=3, update_nama='tahu')

# mengubah harga item
transaksi_2.update_item_price(id_item=1, update_harga=150_000)

# mengubah jumlah item
transaksi_2.update_item_qty(id_item=2, update_jumlah=10)

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_2.test_case_output(transaksi_2.keranjang)

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tahu          |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tahu': [3, 5000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         150000 |         300000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tahu          |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 8%

Total harga yang harus dibayar adalah Rp.303,600
Barang yang dibeli:
{'kompor': [2, 150000], 'mie': [5, 3000], 'tahu': [3, 5000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         150000 |         300000 |
|     2 | mie           |              10 |           3000 |          30000 |
|     3 | tahu          |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 8%

Total harga yang harus dibayar adalah Rp.317,400
Barang yang dibeli:
{'kompor': [2, 150000], 'mie': [10, 3000], 'tahu': [3, 5000]}



Barang yang dibeli:
{'kompor': [2, 150000], 'mie': [10, 3000], 'tahu': [3, 5000]}

## delete_item()

In [5]:
# inisialisasi transaksi dengan instance baru
transaksi_3 = Transaction()

# menambah item
transaksi_3.add_items(['kompor', 2, 100_000])
transaksi_3.add_items(['mie', 5, 3_000])
transaksi_3.add_items(['tempe', 3, 5_000])

# menghapus item
transaksi_3.delete_item(2)

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_3.test_case_output(transaksi_3.keranjang)

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'tempe': [3, 5000]}



Barang yang dibeli:
{'kompor': [2, 100000], 'tempe': [3, 5000]}

## check_order()

In [6]:
# inisialisasi transaksi dengan instance baru
transaksi_4 = Transaction()

# menambah item
transaksi_4.add_items(['kompor', 2, 100_000])
transaksi_4.add_items(['mie', 5, 3_000])
transaksi_4.add_items(['tempe', 3, 5_000])

# menghapus item
print("Dibawah ini output check_order")
transaksi_4.check_order()

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_4.test_case_output(transaksi_4.keranjang)

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



Dibawah ini output check_order
|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}

In [7]:
# inisialisasi transaksi dengan instance baru
transaksi_5 = Transaction()

# menambah item
transaksi_5.add_items(['kompor', 2, 100_000])
transaksi_5.add_items(['mie', 5, "ayam"])
transaksi_5.add_items(['tempe', 3, 5_000])

# menghapus item
print("Dibawah ini output check_order")
transaksi_5.check_order()

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_5.test_case_output(transaksi_5.keranjang)

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang | Harga Satuan   | Jumlah Harga         |
|-------|---------------|-----------------|----------------|----------------------|
|     1 | kompor        |               2 | 100000         | 200000               |
|     2 | mie           |               5 | ayam           | ayamayamayamayamayam |
Barang ID - 2: Harga bukan angka
PESANAN TIDAK SESUAI, Silahkan di cek kembali
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 'ayam']}



|   No. | Nama Barang   |   Jumlah Barang | Harga Satuan   | Jumlah Harga         |
|-------|---------------|-----------------|----------------|----------------------|
|     1 | kompor        |               2 | 100000         | 200000               |
|     2 | mie           |               5 | ayam           | ayamayamayamayamayam |
|     3 | tempe         |               3 | 5000           | 15000                |
Barang ID - 2: Harga bukan angka
PESANAN TIDAK SESUAI, Silahkan di cek kembali
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 'ayam'], 'tempe': [3, 5000]}



Dibawah ini output check_order
|   No. | Nama Barang   |   Jumlah Barang | Harga Satuan   | Jumlah Harga         |
|-------|---------------|-----------------|----------------|----------------------|
|     1 | kompor        |               2 | 100000         | 200000               |
|     2 | mie           |               5 | ayam           | ayamayamayamayamayam |
|     3 | tempe         |               3 | 5000           | 15000                |
Barang ID - 2: Harga bukan angka
PESANAN TIDAK SESUAI, Silahkan di cek kembali
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 'ayam'], 'tempe': [3, 5000]}

## total_price()

In [8]:
# inisialisasi transaksi dengan instance
transaksi_6 = Transaction()

# menambah item
transaksi_6.add_items(['kompor', 2, 100_000])
transaksi_6.add_items(['mie', 5, 3_000])
transaksi_6.add_items(['tempe', 3, 5_000])

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_6.test_case_output(transaksi_6.keranjang)

# hitung total belanja (termasuk diskon)
transaksi_6.total_price()

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500

## reset_transaction()

In [9]:
# inisialisasi transaksi dengan instance baru
transaksi_7 = Transaction()

# menambah item
transaksi_7.add_items(['kompor', 2, 100_000])
transaksi_7.add_items(['mie', 5, 3_000])
transaksi_7.add_items(['tempe', 3, 5_000])

# menampilkan output test case
# {'nama_item': [jumlah, harga]}
transaksi_7.test_case_output(transaksi_7.keranjang)

# reset transaksi
transaksi_7.reset_transaction()

# cek pesanan
transaksi_7.check_order()

|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |

Total harga yang harus dibayar adalah Rp.200,000
Barang yang dibeli:
{'kompor': [2, 100000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.204,250
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000]}



|   No. | Nama Barang   |   Jumlah Barang |   Harga Satuan |   Jumlah Harga |
|-------|---------------|-----------------|----------------|----------------|
|     1 | kompor        |               2 |         100000 |         200000 |
|     2 | mie           |               5 |           3000 |          15000 |
|     3 | tempe         |               3 |           5000 |          15000 |
Selamat! Anda mendapatkan diskon sebesar 5%

Total harga yang harus dibayar adalah Rp.218,500
Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



Barang yang dibeli:
{'kompor': [2, 100000], 'mie': [5, 3000], 'tempe': [3, 5000]}



keranjang telah dikosongkan
| No.   | Nama Barang   | Jumlah Barang   | Harga Satuan   | Jumlah Harga   |
|-------|---------------|-----------------|----------------|----------------|

Total harga yang harus dibayar adalah Rp.0